<!DOCTYPE html>
<html>
  <head>
    <title>BairesdevRailsTrainingLvl2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>BairesDev Rails Training Project LVL 2</h1>
    <h2>Sam Palumbo<h2>

    <%= link_to 'Companies', companies_path %>
    <%= link_to 'Books', books_path %>
    <%= link_to 'Games', games_path %>
    <%= link_to 'Genres', genres_path %>
    <%= link_to 'Platforms', platforms_path %>
    <%= yield %>
  </body>
</html>
